DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bpholding?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-32-plus-char-random-secret"
IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_URL_ENDPOINT=""
PLAYWRIGHT_BASE_URL="http://localhost:3000"